
    $background-jh:hsl(225, 100%, 94%) ;
    $background_a:hsl(245, 75%, 52%) ;

    $background_o:  hsl(225, 100%, 98%);
    $background_v: hsl(224, 23%, 55%) ;
    $background_f: hsl(223, 47%, 23%);
